<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' ' %}" rel="stylesheet">
        <title>WeighTrack. {% block title %}Keep tabs on your groceries.{% endblock %}</title>
    </head>

    <body>

<!-- TODO:IMPROVE -->

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/wt_app/">Burkugler Enterprises</a>

           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
                    <li class="navbar-text">Welcome, Lauren!</li>
                    <li><a href="/wt_app/logout/">Logout</a></li>
                    <li><a href="/wt_app/register/">Register</a></li>
                    <li><a href="/wt_app/login/">Login</a></li>
               </ul>
                   <!--<li><a href="/wt_app/about/">About</a></li> -->
               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <h1>Menu</h1>
		<a href="/wt_app/myWeighTrack/">Manage WeighTrackrs</a><br />
		<a href="/wt_app/devReg/">Register a Device</a><br />
		<a href="/wt_app/devReg/">Automated Ordering</a><br />
		<a href="/wt_app/about/">About</a><br />
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
        <div class="hero-unit">
    <h1>WeighTrack</h1>
	<br />
    This is <strong>your current inventory</strong>.<br />

    Here's what's in your fridge:<br /><br />
    <img src="{% static 'pics/imageSVG9.svg' %}" alt="sexy corporate logo" />
	<img src="{% static 'pics/imageSVG10.svg' %}" alt="sexy corporate logo" />
<img src="{% static 'pics/imageSVG11.svg' %}" alt="sexy corporate logo" />
<img src="{% static 'pics/imageSVG12.svg' %}" alt="sexy corporate logo" /> <br />

	milk: 32%
	<span style="display:inline-block; width: 102px;"></span> 
	grape juice: 88%
	<span style="display:inline-block; width: 44px;"></span>
	green tea: 41% 
	<span style="display:inline-block; width: 59px;"></span>
	rooibos: 67% 
	
	</div>    
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<hr>


<!-- IMPROVE -->


    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
